& when (@media-common = true) {
    .header {
        .block-search {
            float: left;
            padding-left: 0;
        }
        .minicart-wrapper {
            float: left;
        }
        .logo {
            float: right;
        }
    }
    .action.tocart.primary {
        background-color: #53a828;
        border-color: #53a828;
        border-radius: 12px;
    }
}
